BODY {
 background-color:lightGrey;
}

h2 {
	margin: 11px;
}

h3 {
	margin: 0px;
}

hr {
	border-color:grey -moz-use-text-color -moz-use-text-color;
	border-style:solid none none;
	border-width:1px 0 0;
	margin:0.3em 0;
}

p#menu {
	margin: 5px;
}

#GLOBAL-left-mainframe-course {
	background-repeat:repeat-x;
	min-height:575px;
	padding:10px;
}


.VIDEOS-1grid-box {
	float:left;
	font-size:12px;
	height:14em;
	margin-bottom:20px;
	margin-left:11px;
	margin-right:11px;
	text-align:justify;
	width:198px;
}