{% extends "q3demotube/baseq3.html" %}

{% block page_title %}Videos{% endblock %}
{% block content %}
<p align="center">
        <a href='/q3demotube/videos/1/' >First</a>
        <a href='/q3demotube/videos/{{ page_number|add:"-1" }}/' >Previus</a>
        <label>{{ page_number }}</label> / {{ pages }}
        <a href='/q3demotube/videos/{{ page_number|add:"1" }}/' >Next</a>
        <a href='/q3demotube/videos/{{ pages }}/' >Last</a>
</p>
{% for video in videos  %}
<p>
    <b><a href="/q3demotube/video/{{ video.id }}/">Name: {{ video.name }}</a></b> <br/>
    Demo: {{ video.demo.name }}<br/>
    <a href="/q3demotube/video/{{ video.id }}/"><img width="220" height="110" src="{{ video.thumbnail.url }}"></a>
</p>
{% endfor %}
{% endblock %}
