{% extends "q3demotube/baseq3.html" %}
{% load sorting_tags %}

{% block page_title %}Videos{% endblock %}
{% block content %}
<p>
        <a href='/q3demotube/videos/1/' >First</a>
        <a href='/q3demotube/videos/{{ page_number|add:"-1" }}/' >Previus</a>
        <label>{{ page_number }}</label> / {{ pages }}
        <a href='/q3demotube/videos/{{ page_number|add:"1" }}/' >Next</a>
        <a href='/q3demotube/videos/{{ pages }}/' >Last</a>
</p>
<ul id="sorting_list">
    {% table_header headers 'li' %}
</ul>

<div id="GLOBAL-left-mainframe-course">
{% for video in videos  %}
    <div class="VIDEOS-1grid-box">
        <b><a href="/q3demotube/video/{{ video.id }}/">{{ video.name|slice:":32" }}</a></b><br/>
        <a href="/q3demotube/video/{{ video.id }}/"><img width="220" height="110" src="{{ video.thumbnail.url }}"></a>
    </div>
{% endfor %}
</div>
{% endblock %}
