<p><a href="/polls/images/">Upload</a> <a href="/polls/imageList/">List</a></p>
<form action="/polls/uploadImages/" method="POST" enctype="multipart/form-data" >
{{ form.as_p }}
<input type="Submit" value="Submit">
</form>

<style type="text/css">
    <!--
    body {
        background-color: grey;
    }
    body,td,th {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #FFDB4C;
}
.style1 {color: #FFFFFF}
.style2 {font-size: 10px;}
-->
</style>